@model IEnumerable<API.DTOs.Employees.EmployeeDto>;
@{
    ViewData["Page"] = "Manage Staff";
    Layout = "~/Views/Shared/_LayoutDashboardManager.cshtml";
    var format = "dd - MM - yyyy"; ;
    var index = 0;
}

<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" bg-white>
                <h3>Manage Employee</h3>
            </div>
            <div class="card-body px-3 pt-2 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped" id="table-employee">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">No.</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">NIK</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Full Name</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Birth Date</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Hiring Date</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Email</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Phone Number</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if(Model != null)
                            {
                                @foreach(var item in Model)
                                {
                                    <tr>
                                     
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@(index + 1)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@item.NIK</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@(item.FirstName + " " +item.LastName)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@item.BirthDate.ToString(format)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.HiringDate.ToString(format)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.Email</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.PhoneNumber</h6>
                                            </div>
                                        </td>
                                       
                                        <td>
                                            <div class=" text-center">
                                                <a class="btn btn-primary" id="button-leave-detail" asp-action="" asp-route-guid="@item.Guid">Detail</a>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                                
                            } else
                            {
                                <tr>
                                    <td colspan="12">
                                        <h2>
                                            Data not available
                                        </h2>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>