@model IEnumerable<API.DTOs.Leaves.LeaveDto>;
@{
    ViewData["Page"] = "Leave Pending";
    Layout = "~/Views/Shared/_LayoutDashboardStaff.cshtml";
    string format = "dd - MM - yyyy";
    int index = 0;
}
<div class="row">
    <div class="col-12">
        <div class="card mb-4">
            <div class="card-header pb-0" bg-white>
                <h3>All Pending Leave</h3>
            </div>
            <div class="card-body px-3 pt-0 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped" id="tableLeaves">
                        <thead>
                            <tr>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">No.</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Created Date</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Full Name</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">NIK</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Leave Type</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Start Date</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">End Date</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Status</th>
                                <th scope="col" class="text-uppercase text-secondary text-sm font-weight-bolder opacity-10">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Any())
                            {
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@(index + 1)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@item.NIK</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@item.FullName</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-center">
                                                <h6 class="text-sm mb-0">@item.LeaveName</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.CreatedDate.ToString(format)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.StartDate.ToString(format)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.EndDate.ToString(format)</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <h6 class="text-sm mb-0">@item.Status</h6>
                                            </div>
                                        </td>
                                        <td>
                                            <div class=" text-center">
                                                <button class="btn btn-primary" id="button-leave-cancel" data-guid="@item.Guid">Cancel</button>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-center col-12">
                                        <h2> Data Not Found</h2>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/staff/cancelLeave.js"></script>
}
